* {
    font-family: 'Montserrat';font-size: 22px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.slide {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #204f2a;
    width: 100%;
    min-height: 90px;
    gap: 15px;
}

.types button {
    font-size: 20px;
    border-radius: 50px;
    border: 1.5px solid #ad9778;
    background-color: white;
    min-width: 160px;
    color:  #ad9778;
}